body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#fcac00;
    color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
h1{
    font-size: 40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: blueviolet;
    border: 2px solid black;
    background-color: rgb(255, 251, 0);
    text-align: center;
    padding:8px; 
}

text-align:picture-in-picture

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

